@font-face {
  font-family: "Avenir";
  src: url("assets/fonts/Avenir.otf");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* :not(head, script) {
  margin: 0;
  display: flex;
  flex-direction: column;
}

html,
body,
#root {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: vars.$color-background;
  color: vars.$color-text-primary;
  font-family: "Inter", Calibri;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}
